<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC-uhECt0Bn3QKUx54SBU8MjWcm6-IQVjY</string>
	<key>GCM_SENDER_ID</key>
	<string>44579265008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.weiweistudio.sevenhandpoker</string>
	<key>PROJECT_ID</key>
	<string>sevenhandpoker-dc588</string>
	<key>STORAGE_BUCKET</key>
	<string>sevenhandpoker-dc588.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:44579265008:ios:1a671f17c8a02231da2535</string>
</dict>
</plist>